<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ecommerce.testUtilities.Reporting"></listener>
    </listeners>
    <test   name="D:/AutomationTesting/Selenium/Selenium-Workspace-Udemy/OpenCart/src/test/java/com/ecommerce/testCases/BaseClass.java">

        <classes>
            <class name="com.ecommerce.testCases.homepageTest">
                <methods>
                    <include name="homePageTest"/>
<!--                    <include name="loginTest"/>-->
                </methods>
            </class>
            <class name="com.ecommerce.testCases.LoginTest">
                <methods>
                    <include name="loginTest"/>

                </methods>
            </class>
            <class name="com.ecommerce.testCases.LogoutTest">
                <methods>
                    <include name="logout"/>
                </methods>
            </class>
        </classes>
    </test></suite>